body {
    background-image: linear-gradient(rgb(172, 1, 1), rgb(59, 0, 0));
}

h1 {
    color: pink;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5em;
    text-align: center;
    letter-spacing: 1px;
    margin: 10%;
}

p {
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-weight: 350;
    font-size: 1.3rem;
    margin: 10px 50px;
}

a {
    color: rgb(255, 125, 147);
    font-weight: 300;
    text-decoration-line: none;
}

a:hover {
    color: white;
}

.special {
    color: rgb(253, 234, 234);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    letter-spacing: .1em;
    border: 3px solid rgb(253, 234, 234);
    background-color: rgba(0, 0, 0, 0.315);
    margin: 5% auto;
    padding: 1em;
    width: fit-content;
}
.special:hover {
    font-size: 2.5em;
    background-image: url('https://t3.ftcdn.net/jpg/05/27/71/34/360_F_527713445_ZWmB4KnxSWNjnz9N5Iz8eQl9dnOwDERa.jpg');
    background-size: cover;
    border: 6px dotted white;
    border-radius: 80px;
}


blockquote  {
    color: white;
    font-style: italic;
    font-size: 1.9rem;
    text-align: center;
    margin: 50px 100px;
    padding: 10px;
}
blockquote p {
    color: white;
    font-style: normal;
}
img {
    width: 30%;
}
iframe {
    margin: 4%;
}


.flex {
    display: flex;
    align-items: stretch;
    object-fit: contain;
    gap: 20px;
}

.flex > p, .flex > img {
    margin: auto;
    padding: 5%;
}

.box {
    background-color: rgba(0, 0, 0, 0.192);
    margin: 5%;
    padding: 1%;
    border-radius: 20px;
}

footer p {
    font-style: italic;
}